<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="ZEAL Security" />
    <meta name="google-site-verification" content="nAVMkU8K3bdd0iS0mTgggA4w0fy5rJUozGM2ocl-fpg" />
    <meta name="robots" content="index, follow" />
    <meta name="geo.region" content="DE-BE" />
    <meta name="geo.placename" content="Berlin" />
    <link rel="icon" type="image/x-icon" href="https://storage.googleapis.com/gpt-engineer-file-uploads/1wUa3NgFdFS5vmwrlaJ9OttZWnm2/uploads/1761594958970-Design ohne Titel (62)-min.png">
  </head>

  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
